list out things you would need to do, i.e. how you will need to process your data.
which factors will need processing etc.
you can also make the copies of this document and work on it individually, then use the easiest to understand and optimum code.

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp
from scipy import stats

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept = True)

In [ ]:
#Credit Below: Brandon Wong
bop_data = {'sample': ['A', '', '','B', '', '', 'C','', ''],    #Creates a DataFrame using all of o the following values in Bush Terminal park
             'Time': ['7/20/2016', '8/18/2016', '10/5/2016','7/20/2016', '8/18/2016', '10/5/2016', '7/20/2016', '8/18/2016', '10/5/2016'], 
             'turb_NTU': [16, 22.2, 1.3, 12, 23.9, 0, 8.9, 19, 47.4], 
             'TDS_gL': [21.4, 21.4, 23.9, 23.1, 21.4, 25, 23.4, 21.4,24.9]}
df = pd.DataFrame(bop_data)    
df.index = ['Bush Terminal Park', '', '', '', '', '', '', '', '']
df

In [ ]:
x = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])     #This plots all samples A,B,C in Turbidity and TDS in Bush Terminal Park
y = np.array([16, 22.2, 1.3])

plt.plot(x,y)

plt.title('Turbidity Sample A: Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x1 = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])
y1 = np.array([21.4, 21.4, 23.9])

plt.plot(x1,y1)

plt.title('Total Dissolved Solids Sample A: Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x2 = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])
y2 = np.array([12, 23.9, 0])

plt.plot(x2,y2)

plt.title('Turbidity Sample B:Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x3 = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])
y3 = np.array([23.1, 21.4, 25])

plt.plot(x3,y3)

plt.title('Total Dissolved Solids Sample B: Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x4 = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])
y4 = np.array([8.9, 19, 47.4])

plt.plot(x4,y4)

plt.title('Turbidity Sample C:Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x5 = np.array(['7/20/2016', '8/18/2016', '10/5/2016'])
y5 = np.array([23.4, 21.4, 24.9])

plt.plot(x5,y5)

plt.title('Total Dissolved Solids Sample C: Bush Terminal Park')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

In [ ]:
bop_data = {'sample': ['1', '', '','2', '', '', '3','', ''], 
             'Time': ['9/8/2017','6/12/2018','10/23/2019','9/8/2017','6/12/2018','10/23/2019','9/8/2017','6/12/2018','10/23/2019',], 
             'turb_NTU': [15.97, 8.5, 3.1, 15.97, 17.8, 6.6, 15.97, 16.8, 6.4 ], 
             'TDS_gL': [21.4,21.1, 22.2, 21.4, 21.1, 22.7, 21.4, 21.1, 22.7]}
df = pd.DataFrame(bop_data)    
df.index = ['Great Kills Harbor', '', '', '', '', '', '', '', '']
df

In [ ]:
x = np.array(['9/8/2017','6/12/2018','10/23/2019'])     #This plots all samples 1,2,3 in Great Kills Harbor
y = np.array([15.97, 8.5, 3.1])                  #Turbidity 1 :GKH

plt.plot(x,y)

plt.title('Turbidity Sample 1: Great Kills Harbor')      
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x1 = np.array(['9/8/2017','6/12/2018','10/23/2019'])      #TDS 1: GKH
y1 = np.array([21.4,21.1, 22.2])

plt.plot(x1,y1)

plt.title('Total Dissolved Solids Sample 1: Great Kills Harbor')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x2 = np.array(['9/8/2017','6/12/2018','10/23/2019'])         #Turbidity 2 :GKH
y2 = np.array([15.97, 17.8, 6.6])

plt.plot(x2,y2)

plt.title('Turbidity Sample 2:Great Kills Harbor')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x3 = np.array(['9/8/2017','6/12/2018','10/23/2019'])        #TDS 2: GKH
y3 = np.array([21.4, 21.1, 22.7])

plt.plot(x3,y3)

plt.title('Total Dissolved Solids Sample 2: Great Kills Harbor')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x4 = np.array(['9/8/2017','6/12/2018','10/23/2019'])       #Turbidity 3 :GKH
y4 = np.array([ 15.97, 16.8, 6.4])

plt.plot(x4,y4)

plt.title('Turbidity Sample 3:Great Kills Harbor')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x5 = np.array(['9/8/2017','6/12/2018','10/23/2019'])      #TDS 3: GKH
y5 = np.array([21.4, 21.1, 22.7])

plt.plot(x5,y5)

plt.title('Total Dissolved Solids Sample 3:Great Kills Harbor')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

In [ ]:
bop_data = {'sample': ['1', '', '','2', '', '', '3','', ''], 
             'Time': ['8/8/2017','9/5/2017','11/8/2018','8/8/2017','9/5/2017','11/8/2018','8/8/2017','9/5/2017','11/8/2018'], 
             'turb_NTU': [6.1,27.3,20,4.9,33.6,20.8,6.4,36.1,17.6], 
             'TDS_gL': [22,16.8,19.6,22,17.6,19.6,22.1,17.6,19.5]}
df = pd.DataFrame(bop_data)    
df.index = ['Lemon Creek Nursery', '', '', '', '', '', '', '', '']
df

In [ ]:
x = np.array(['8/8/2017','9/5/2017','11/8/2018'])     #This plots all samples 1,2,3 in Great Kills Harbor
y = np.array([6.1,27.3,20])                  #Turbidity 1 :LCN

plt.plot(x,y)

plt.title('Turbidity Sample 1: Lemon Creek Nursery')      
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x1 = np.array(['8/8/2017','9/5/2017','11/8/2018'])      #TDS 1: LCN
y1 = np.array([22,16.8,19.6])

plt.plot(x1,y1)

plt.title('Total Dissolved Solids Sample 1: Lemon Creek Nursery')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x2 = np.array(['8/8/2017','9/5/2017','11/8/2018'])         #Turbidity 2 :LCN
y2 = np.array([4.9,33.6,20.8])

plt.plot(x2,y2)

plt.title('Turbidity Sample 2:Lemon Creek Nursery')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x3 = np.array(['8/8/2017','9/5/2017','11/8/2018'])        #TDS 2: LCN
y3 = np.array([22,17.6,19.6])

plt.plot(x3,y3)

plt.title('Total Dissolved Solids Sample 2: Lemon Creek Nursery')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

x4 = np.array(['8/8/2017','9/5/2017','11/8/2018'])       #Turbidity 3 :LCN
y4 = np.array([ 6.4,36.1,17.6])

plt.plot(x4,y4)

plt.title('Turbidity Sample 3: Lemon Creek Nursery')
plt.xlabel('Date')
plt.ylabel('Turbidity NTU')
plt.show();

x5 = np.array(['8/8/2017','9/5/2017','11/8/2018'])      #TDS 3: LCN
y5 = np.array([22.1,17.6,19.5])

plt.plot(x5,y5)

plt.title('Total Dissolved Solids Sample 3:Lemon Creek Nursery')
plt.xlabel('Date')
plt.ylabel('TDS gL')
plt.show();

In [ ]:
#Credit Below:Kevin Chen
bop_data = pd.read_csv('https://raw.githubusercontent.com/PACESTEM/STEMINSTITUTE2021/main/data/bop_data2.csv')    
bop_data.columns
bop_data_turb_tds = bop_data.groupby(['Site', 'Date', 'sample']).mean()[['turb_NTU', 'TDS_gL']]
bop_data_turb_tds

In [ ]:
bop_data_alive_dead = bop_data[['Site', 'Date', 'sample', 'live_dead']]
bop_data_alive_dead.loc[bop_data_alive_dead.live_dead == 'live', 'live_dead'] = 1
bop_data_alive_dead.loc[bop_data_alive_dead.live_dead == 'dead', 'live_dead'] = 0
bop_data_alive_dead = bop_data_alive_dead.groupby(['Site', 'Date', 'sample']).sum('live_dead')
bop_data_alive_dead

In [ ]:
    #Credit Below: Aya GM
url = 'http://webpage.pace.edu/fparisi/STEM-2021/PythonData/'

https://colab.research.google.com/drive/1BL9FwBhY9Z2EBI0rWoA0f5X1xbGT8D3W#scrollTo=0hqVoh_hl58C
Link to her notebook

In [ ]:
oyster_data = pd.read_csv(url + 'ORSMatched.csv')
bop_water_quality = pd.read_csv(url + 'BOPWaterQualityData.csv')
diss_O2 = pd.read_csv(url + 'DO_matched.csv')
temp_C = pd.read_csv(url + 'Temp_matched.csv')
sal_PPT = pd.read_csv(url + 'Sal_matched.csv')

In [ ]:
oyster_data.rename(columns = {'date':'Date', 'site_name':'Site'}, inplace = True)

In [ ]:
# Make the site names consistent with names in the other files
oyster_data.loc[oyster_data.Site == 'Baylander', ['Site']] = 'West Harlem'
oyster_data.loc[oyster_data.Site == 'Baylander, West Harlem Piers', ['Site']] = 'West Harlem'
oyster_data.loc[oyster_data.Site == 'Brooklyn Bridge Park, Pier 5', ['Site']] = 'Brooklyn Bridge Park'
oyster_data.loc[oyster_data.Site == 'Brooklyn Navy Yard, Harbor School Base, Wallabout Bay', ['Site']] = 'Brooklyn Navy Yard'
oyster_data.loc[oyster_data.Site == 'Brooklyn Navy Yard, Rowing Dock, Wallabout Channel', ['Site']] = 'Brooklyn Navy Yard'
oyster_data.loc[oyster_data.Site == 'West 22nd Street, Coney Island, Coney Island Creek', ['Site']] = 'Coney Island Creek'
oyster_data.loc[oyster_data.Site == 'SUNY Maritime, Throgs Neck, East River', ['Site']] = 'SUNY Maritime'

In [ ]:
df1 = pd.merge(diss_O2, temp_C, on = ['Date', 'Site'], how = 'outer')
df2 = pd.merge(df1, sal_PPT, on = ['Date', 'Site'], how = 'outer')
df3 = pd.merge(df2, bop_water_quality, on = ['Date', 'Site'], how = 'outer')
df_inner = pd.merge(oyster_data, df3, on = ['Date', 'Site'], how = 'inner')
df_inner['temp_C'] = df_inner.loc[:, ['temp_C_y', 'temp_C_x']].mean(axis = 1)
df_inner['sal_ppt'] = df_inner.loc[:, ['sal_ppt_y', 'sal_ppt_x']].mean(axis = 1)
df_inner['DO_mgL'] = df_inner.loc[:, ['DO_mgL_y', 'DO_mgL_x']].mean(axis = 1)
df_inner.columns

In [ ]:
bop_data = df_inner.drop(['site_x', 'Min_DO_mgL', 'Max_DO_mgL', 'DO_mgL_x', 'Min_temp_C', 'Max_temp_C',
       'temp_C_x', 'Max_sal_ppt', 'Min_sal_ppt', 'sal_ppt_x', 'site_y', 'temp_C_y',
       'DO_mgL_y', 'secci_m', 'sal_ppt_y', 'instrument_used', 'notes'], axis =1)

In [ ]:
bop_data.groupby(['Site', 'Date'])[['shell_height_mm', 'temp_C', 'DO_mgL', 'sal_ppt', 'pH', 'cond_mScm', 'turb_NTU', 'TDS_gL']].mean().plot.bar();

In [ ]:
bop_data['shell_height_mm'].plot.hist();

In [ ]:
# Bar plot showing the mean by group
bop_data.groupby('Site')[['turb_NTU','TDS_gL']].mean().plot.bar()
plt.ylabel('Average turbidity and TDS');

In [ ]:
bop_data.plot.line('Date','turb_NTU');